.container {
    width: 1180px;
    margin: 0 auto;
}

.container_2 {
    width: 1180px;
    height: 325px;
    margin: 0 auto;
    /*color: #000000A6;*/
    /*background-color: rgba(0, 0, 0, 0.65);*/
    background-image: url("img/background_1.png");
    filter: brightness(65%);
}

.title {
    text-align: center;
    margin: 100px 0 25px;
    font-family: Raleway;
    font-size: 36px;
    line-height: 42px;
}

.title_2 {
    font-family: Raleway;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: white;
    font-weight: normal;
    padding: 76px 0 48px;
    margin: 0 auto;
}

.line {
    width: 64px;
    height: 1px;
    background: #E72424;
    margin: 0 auto;
}

.line_2 {
    width: 64px;
    height: 1px;
    background: white;
    margin: 0 auto;
}

.text_1 {
    text-align: center;
    color: #86878B;
    font-size: 14px;
    line-height: 19px;
    padding: 30px 0 67px;
    font-family: Open Sans;
}

.text_2 {
    text-align: center;
    color: #FFFFFFCC;
    font-size: 16px;
    line-height: 19px;
    padding: 30px 0 30px;
    font-family: Raleway;
}

.art1 {
    font-family: Open Sans;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
}

.block_row {
    display: flex;
}

.block_column {
    border: #0b2e13;
    flex: 1;
}

.block_item {
    text-align: center;
    padding: 0 0 108px;
}

.item_1 {
    font-size: 14px;
    line-height: 19px;
    text-align: center;
}

.img_1 {
    margin: 0 auto;
    width: 68px;
    height: 68px;
    border: 1px solid #E72424;
    border-radius: 50%;
    display:flex;
    align-items: center;
    justify-content: center
}

.bord_1 {
    margin: 0 auto;
    text-align: center;
}

.btn_1 {
    /*text-align: center;*/
    color: white;
    font-family: "Open Sans";
    border: 1px solid white;
    box-sizing: border-box;
    padding: 11px 26px;
    margin: 0 auto;
    text-decoration: none;
}

.footer {
    background: black;
    width: 1180px;
    height: 101px;
    margin: 0 auto;
}

.img_2 {
    padding: 30px 0 18px;
    display:flex;
    align-items: center;
    justify-content: center
}

.footer_2 {
    margin: 0 auto;
    text-align: center;
    color: #FFFFFF80;
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 16px;
}