<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="html.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Title</title>
</head>
<body>
<section>
    <div class="container">
        <h2 class="title">WHY THIS IS AWESOME</h2>
        <div class="line"></div>
        <p class="text_1">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <div class="block">
            <div class="block_row">
                <div class="block_column">
                    <div class="block_item">
                        <div class="img_1">
                          <img src="img/noname%20image.png" alt="lamp">
                        </div>
                        <p class="art1">Thoughtful Design</p>
                        <p class="item_1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida  dolor sit amet lacus accumsan et viverra.</p>
                    </div>
                </div>
                <div class="block_column">
                    <div class="img_1">
                        <img src="img/keyboard.png" alt="keyboard">
                    </div>
                    <div class="block_item">
                        <p class="art1">Well Crafted</p>
                        <p item_1>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida  dolor sit amet lacus accumsan et viverra.</p>
                    </div>
                </div>
                <div class="block_column">
                    <div class="img_1">
                        <img src="img/voltage.png" alt="voltage">
                    </div>
                    <div class="block_item">
                        <p class="art1">Easy to Customize</p>
                        <p class="item_1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida  dolor sit amet lacus accumsan et viverra.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container_2">
        <h3 class="title_2">STYLISH AXURE DESIGN</h3>
        <div class="line_2"></div>
        <p class="text_2">Use the sections you need, remove the ones you don't.  Create gorgeous prototypes faster than ever!</p>
            <p class="bord_1"><a href="" class="btn_1">Download</a></p>
    </div>
    <div class="footer">
        <div class="img_2">
            <img src="img/footer_1.png" alt="social">
        </div>
        <p class="footer_2">© 2015 Axure Themes</p>
    </div>
</section>
</body>
</html>
